// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
$fa-font-path: "../webfonts";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.css";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
    color: #212529 !important;
    background-color: #f4f4f5;
}

.nav-pills .nav-link:not(.active):hover {
    color: #000;
}

.sidebar-light-primary .sidebar router-link {
    color: #343a40;
}